.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-main;
  color: $main-text-color;
}

.about__wrapper {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 60px 45px;
    gap: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 60px 100px;
    display: grid;
    grid-template-areas: "heading goal"
    "heading goal"
    "features features"
    ;
  }
}

.about__wrapper p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 820px;
  }
}

.about-features {
  grid-area: features;
}
