.hero-slide {
  color: $on-dark-text-color;
  min-height: 568px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 420px;
    align-items: flex-start;
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero-slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 568px;
  position: absolute;
  padding: 20px 15px;
  bottom: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    min-height: 420px;
    min-height: 1024px;
    padding: 0 64px 60px 45px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero-slide__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  margin-top: auto;
  z-index: 10;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
    "header header"
    "paragraph button";
    max-width: 659px;
    grid-template-columns: 355px auto;
  }
}

.hero-slide__header {
  color: $extra-text-color;
  background-color: #ffffff;
  border-radius: 0 12px 12px 0;
  padding: 18px 35px 6px 18px;
  max-width: 100%;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
    max-width: 659px;
    padding: 30px 40px 24px;
    grid-area: header;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
    padding: 40px 50px 30px;
    max-width: 968px;
  }
}

.hero-slide p {
  color: $main-text-color;
  background-color: #ffffff;
  border-radius: 0 0 12px 0;
  padding: 0 27px 15px 14px;
  max-width: 267px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  position: relative;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 659px;
    padding: 30px 40px 24px;
    grid-area: paragraph;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
    padding: 40px 50px 30px;
    max-width: 968px;
  }
}

.hero-slide__button-wrapper {
  padding: 10px 15px;
  max-width: 182px;
  background-color: $background-extra;
  border-radius: 0 0 12px 12px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 236px;
  }
}

.hero-slide__button {
  width: 152px;
  padding: 16px 55px 14px 17px;
  border-radius: 30px;
  border: 1px solid $background-accent;
  background-color: transparent;
  color: $extra-text-color;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $background-accent;
    border-radius: 50%;
    translate: 0 -50%;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    border-radius: 50%;
    translate: 0 -50%;
    rotate: -30deg;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 79px 20px 29px;
    width: 279px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
    grid-area: button;
    width: 196px;
  }

}

.hero .hero-swiper .hero-slide__swiper-pagination {
  padding: 10px 0;
  position: absolute;
  left: 15px;
  width: 80px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;

  @media (min-width: $tablet-width) {
    width: 100px;
    height: 40px;
    padding: 14px 0;
    left: 45px;
  }

}

.hero-slide__swiper-pagination .swiper-pagination-bullet {
  border: 2px solid $button-clicked;
  background-color: #ffffff;
  opacity: 1;
  width: 8px;
  height: 8px;
  z-index: 100;
  --swiper-pagination-bullet-horizontal-gap: 6px;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }
}

.hero-slide__swiper-pagination .swiper-pagination-bullet-active {
  background-color: $button-clicked;
}

.hero-slide__img {
  width: 100%;
  height: auto;
}
