.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main__programs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main__subscription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
