.news-tabs {
  overflow-x: auto;
  margin: -1px -15px 0 0;
  scrollbar-width: none;
}

.news-tabs__wrapper {
  display: flex;
  gap: 12px;
  white-space: nowrap;
  overflow: visible;
}


.news-tabs__navigation-button {
  background-color: transparent;
  color: $button-on-light;
  border: none;
  padding: 10px 15px 10px 14px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  opacity: 0.6;
}

.news-tabs__navigation-button--active {
  background-color: transparent;
  border: 2px solid $background-accent;
  border-radius: 20px;
  color: $extra-text-color;
  opacity: 1;

}
