.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  color: $main-text-color;
  font-family: $content-font;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 100%;
  background-color: $background-main;
}

.page-body--overlay::after {
  content: "";
  position: absolute;
  background-color: $overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
