.reviews {
  overflow: hidden;
  color: $main-text-color;
}

.reviews__wrapper {
  display: grid;
  grid-template-areas:
  "heading buttons"
  "slider slider";
  padding: 56px 15px 50px;
  width: 320px;
  overflow: visible;
  gap: 34px;

  @media (min-width: $tablet-width) {
    grid-template-areas:
  "heading heading"
  "slider slider"
  "navigation buttons";
    padding: 50px 45px 59px;
    gap: 40px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    gap: 44px;
    padding: 66px 100px 66px;
    width: 1440px;
  }
}

.reviews__wrapper .reviews-slide {
  color: $main-text-color;
  min-height: 472px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;
  border: 2px solid #316dc2;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 560px;
    min-height: 417px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 604px;
  }
}

.reviews__header {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  color: $extra-text-color;
  grid-area: heading;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 0 3px;
  }
}

.reviews__swiper {
  position: relative;
  width: 100%;
  grid-area: slider;
  width: 290px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 674px;
    overflow: visible;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    overflow: hidden;
  }
}

.reviews__wrapper .reviews__scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-area: navigation;
  }

}

.reviews__wrapper .reviews__scrollbar {
  margin: 10px 0 0;
  height: 2px;
  background: rgba(49, 109, 194, 0.2);
  width: 562px;

  @media (min-width: $desktop-width) {
    width: 1136px;
    margin: 6px 0 0;

  }
}

.reviews__wrapper .swiper-scrollbar-drag {
  background: #316DC2;
  border-radius: 2px;
}


.reviews .reviews-swiper-container__buttons {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    top: 82px;
    right: 49px;
   justify-content: flex-end;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    justify-content: space-between;
  }

}

.reviews .reviews-swiper-container__button {
  width: 37px;
  height: 35px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #ffffff;
    outline: 1px solid #1c3374;
  }

  &:focus {
    background-color: #ffffff;
    outline: none;
  }

  &:active {
    background-color: #1c3374;
  }

  &:disabled {
    background-color: #999999;
  }
}


.reviews .reviews-swiper-container__button--next {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
  content: "";
  width: 13px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
  background-color: $background-accent;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: 10;
  position: absolute;
  }
}



.reviews .reviews-swiper-container__button--prev {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 9px;
    transform: rotate(180deg);
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    background-color: $background-accent;
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }
}


.reviews .reviews-swiper-container__button:hover {
  &::after {
    background-color: #1c3374;
  }
}

.reviews .reviews-swiper-container__button:focus {
  &::after {
    background-color: #1c3374;
  }
}

.reviews .swiper-button-prev.swiper-button-disabled,
.reviews .swiper-button-next.swiper-button-disabled {
  opacity: 100%;
  background-color: $disabled;
}
