.subscription {
  padding: 40px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $on-dark-text-color;

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
    width: 1440px;
  }
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: image-set(
    url("../../img/form-background@1x.webp") 1x,
    url("../../img/form-background@2x.webp") 2x,
    url("../../img/form-background@1x.jpg") 1x,
    url("../../img/form-background@2x.jpg") 2x
  );
  padding: 43px 10px 40px;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    padding: 0;
    align-items: flex-start;
    border-radius: 16px;
  }
}

.subscription__form-wrapper {
  background-color: $background-accent;
  border-radius: 16px;
  padding: 15px 15px 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;

  @media (min-width: $tablet-width) {
    padding: 30px 52px;
    width: 442px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 70px 40px;
    width: 490px;
  }
}

.subscription__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscription__header {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.subscription__subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 30px 52px;
    width: 442px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 70px 40px;
    width: 490px;
  }
}
