/* common */
$disabled: #a9afb7;

/* form outline */
$form-on-light-border: 1px solid rgba(72, 72, 72, 0.3);
$form-on-light-hover-border: 1px solid #484848;
$form-on-light-focus-border: 1px solid #484848;
$form-on-light-disabled-border: 1px solid rgba(169, 175, 183, 0.5);
$form-error-border: 1px solid rgba(255, 94, 102, 0.2);
$form-error: #ff5e66;
$form-on-light-disabled: rgba(169, 175, 183, 0.2);
$form-on-dark-disabled: rgba(255, 255, 255, 0.4);


/* button */
$button-clicked: #275699;
$overlay: rgba(0, 0, 0, 0.3);
