/* text color */
$main-text-color: #484848;
$on-dark-text-color: #ffffff;
$extra-text-color: #316dc2;
$extra-on-dark-text-color: #f0efe9;

/* buttons color */
$button-on-light: #316dc2;
$button-on-dark: #ffffff;

/* background color */
$background-main: #f0efe9;
$background-extra: #ffffff;
$background-accent: #316dc2;

/* icons color */
$icon-main: #316dc2;
$icon-additional: #ffffff;

// overlay
$overlay: #0d1d33, 40%;

// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$min-width: 320px;
